
*{
	font-family: "Times New Roman", Times, serif;
}
p{
	font-style: oblique;
}

.img-fluid{
	width: 180px;
	height: 120px;
	}

li {
  display: inline;
}
a{
	color:red;
  font-size: 35px;
}

body{
	background-color:grey;
}
h1{
	font-size: 60px;
}
aside {
    width: 50%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
   
}

aside > p {
    margin: .5rem;
}