
*{
	font-family: "Times New Roman", Times, serif;
}


.img-fluid{
	
	 width: 160px; /* largeur de l'image */
  height: 150px; /* hauteur de l'image */
  border-radius: 60%;
	}

.logo{
	width: 30px; /* largeur de l'image */
  height: 30px;
}
li {
  display: inline;
}
a{
	color:blue;
  font-size: 35px;
}

body{
	background-color:grey;
}
h1{
	font-size: 60px;
}
aside {
    width: 50%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
   
}

aside > p {
    margin: .5rem;
}
body > p {
  font-style: oblique;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


footer {
	background-color: black;
	height: 50px;
}
footer >p{
	color: blue;
	align
}
